{{#section 'head'}}
    <style>{ padding: 0; margin: 0; }</style>
  <script src="/scripts/synchronizer-client.js"></script>

    <script src="/scripts/controller.js"></script>
{{/section}}

<div class="container">

    {{!--  --}}
    <section id="join">
      <div style="background:#19B5FE;position:fixed;top:0;bottom:0;left:0;width:10px"></div>
      <div style="background:#19B5FE;position:fixed;top:0;bottom:0;right:0;width:10px"></div>
      <div style="background:#19B5FE;position:fixed;left:0;right:0;height:10px;top:0"></div>
      <div style="background:#19B5FE;position:fixed;left:0;right:0;height:10px;bottom:0"></div>
      <img src="/img/lobby/freewee_phone.png" style="width:100%;height:auto"/>

      <h2 class="text-right"><em>Welcome!</em> <br>Check out this site on your computer to get your room code, and enter it below.</h2>
      {{!-- <div class="input-group"> --}}
        <input type="text" class="form-control input-lg text-right" id="username" placeholder="Username">
        <br>
        <input type="tel" class="form-control input-lg text-right" id="roomId" placeholder="Room Code">
        <br>
      {{!-- </div> --}}
      <button class="btn btn-default btn-lg btn-primary pull-right" onclick="join()">JOIN</button>

    </section>

    {{!-- SCREEN WHILE IN LOBBY --}}
    <section id="controller0" style="display:none">
      <h2 class="displayusername text-center bg-info"></h2>
      <img src="" class="img-responsive center-block displaysumo" />
      
    </section>

    {{!-- SUMO CONTROLLER --}}
    <section id="controller1" style="display:none">
      <h2 class="displayusername"></h2>
      <img src="" class="img-responsive center-block displaysumo" />

      <div class="row">
        <div class="col-xs-6 center-block">
          <button class="synchronizer-button btn btn-default btn-xl btn-info center-block" id="UP">UP</button>
        </div>
        <div class="col-xs-6 center-block">
          <button class="synchronizer-button btn btn-default btn-xl btn-info center-block" id="DOWN">DOWN</button>
        </div>
      </div>
      </section>
      
      {{!-- snake 3 buttons --}}
    <section id="controller2" style="display:none">
      
      <div id="wrapper">

        <div class="container">
          <button class="synchronizer-button circle center-block" id="2">click me!</button>
        </div>
        
        <div class="container">
          <button class="synchronizer-button circle center-block" id="1"> </button>
        </div>
        
        <div class="container">
          <button class="synchronizer-button circle center-block" id="0"></button>
        </div>
        
      </div>

      <h2 class="displayusername"></h2>
      <div class="scale-sumo center-block"> <img src="" class="img-responsive center-block displaysumo" /> </div>
      
    </section>

    {{!-- PLANET GAME CONTROLLER --}}
    <section id="controller3" style="display:none">
          <h2 class="displayusername"></h2>
          
          <div id="bg" class="displaysumobg" style="
              background-image: url(/img/lobby/sumoPlayer0.png);
              background-size: 100%;
              background-repeat: no-repeat;
              background-position: center;
              height: 88%;
              position:absolute;
              width: 94%;
          "></div>      
          
            <div class="row head-crotch" style="padding: 27% 0 0 0;">
              <button id="c" class="circle synchronizer-button center-block"></button>
            </div>
            
            <div class="row" id="moobs" style="padding: 0px 0 0 0;">
              <div class="col-xs-1 col-xs-offset-2">
                <button id="c" class="circle synchronizer-button"></button>
              </div>
              <div class="col-xs-1 col-xs-offset-3">
                <button id="c" class="circle synchronizer-button"></button>     
              </div>
            </div>

            <div class="row" id="head-crotch" style="padding: 50px 0 0 0;">
              <button id="c" class="circle synchronizer-button center-block"></button>  
            </div>
            
            <div class="row" id="legs" style="padding: 0 0 0 0;">
              <div class="col-xs-1 col-xs-offset-2">
                <button id="c" class="circle synchronizer-button"></button>
              </div>
              <div class="col-xs-1 col-xs-offset-3">
                <button id="c" class="circle synchronizer-button"></button>
              </div>
            </div>
            
            

        </section>
    

  </div>
</div>