{{#section 'head'}}
    <style>{ padding: 0; margin: 0; }</style>
  <script src="/scripts/synchronizer-client.js"></script>

    <script src="/scripts/controller.js"></script>
{{/section}}

<div class="container">

    {{!--  --}}
    <section id="join">
      <h2 class="text-right"><em>Welcome!</em> <br>Check out this site on your computer to get your room code, and enter it below.</h2>
      {{!-- <div class="input-group"> --}}
        <input type="text" class="form-control input-lg text-right" id="username" placeholder="Username">
        <br>
        <input type="tel" class="form-control input-lg text-right" id="roomId" placeholder="Room Code">
        <br>
      {{!-- </div> --}}
      <button class="btn btn-default btn-lg btn-primary pull-right" onclick="join()">JOIN</button>

    </section>

    {{!-- SCREEN WHILE IN LOBBY --}}
    <section id="controller0" style="display:none">
      <h2 class="displayusername"></h2>
      <img src="" class="img-responsive center-block displaysumo" />
      
    </section>

    {{!-- SUMO CONTROLLER --}}
    <section id="controller1" style="display:none">
      <h2 class="displayusername"></h2>
      <img src="" class="img-responsive center-block displaysumo" />

      <div class="row">
        <div class="col-xs-6 center-block">
          <button class="synchronizer-button btn btn-default btn-xl btn-info center-block" id="UP">UP</button>
        </div>
        <div class="col-xs-6 center-block">
          <button class="synchronizer-button btn btn-default btn-xl btn-info center-block" id="DOWN">DOWN</button>
        </div>
      </div>
      </section>
      
      {{!-- snake 3 buttons --}}
    <section id="controller2" style="display:none">
      
    <div id="wrapper">

      <div class="container">
        <button class="synchronizer-button circle center-block" id="2">click me!</button>
      </div>
      
      <div class="container">
        <button class="synchronizer-button circle center-block"id="1"> </button>
      </div>
      
      <div class="container">
        <button class="synchronizer-button circle center-block" id="0"></button>
      </div>
      
    </div>



       {{!--
      <h2 class="displayusername"></h2>
      <div class="scale-sumo"> <img src="" class="img-responsive center-block displaysumo" /> </div>
       --}}

    </section>

      {{!-- planet armpits --}}
    <section id="controller3" style="display:none">
      <h2 class="displayusername"></h2>
       <img src="" class="img-responsive center-block displaysumo" />
      <img class="displaysumobg" style=""/>
      
      <div class="wrapper">
      
        
        <div class="container-fluid">
          <button id = "c" class="synchronizer-button circle-only center-block"></button>
        </div>
        
        <div class="row">
          <button id = "c" class="synchronizer-button circle-two"></button>
          <button id = "c" class="synchronizer-button circle-three"></button>
        </div> 
      
        
        <div class="row">
          <button id = "c" class="synchronizer-button circle-only center-block"></button>  
        </div>
        
        <div class="row">
          <button id = "c" class="synchronizer-button circle-one"></button>
          <button id = "c" class="synchronizer-button circle-one"></button>
        </div>
       
        
      </div>


    </section>
    

  </div>
</div>