.container {
  max-width: 1024px;
  padding-top: 30px;
  margin: auto auto;
}

// Mixin
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage
.container {
  .center-block();
}

.btn-xl {
    height: 100px;
    width: 100px;
    /*padding: 18px 28px;*/
    font-size: 22px;
    border-radius: 20px;
}

.row{
  padding-top: 30px;
  padding-bottom: 30px;
}
