.container {
  max-width: 1024px;
  padding-top: 30px;
  margin: auto auto;
}

// Mixin
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage
.container {
  .center-block();
}

.btn-xl {
    height: 100px;
    width: 100px;
    /*padding: 18px 28px;*/
    font-size: 22px;
    border-radius: 20px;
}

.row{
  padding-top: 30px;
  padding-bottom: 30px;
}

#wrapper {

}
.container{
  padding:10px;
}

.scale-sumo{
  width:25%;
}

.circle{
  background-color: #c06;
  border: 3px solid #000;
  height:100px;
  width:100px;
  border-radius:50px;
  position:relative;
  
}

.circle:hover {
  background-color:#f9ff21;
}

.circle:active{
  background-color:#62f464;
}

#wrapper-two { 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.container-two {padding-bottom:20px;}
.circle-only {

  background-color: #c06;
  border: 3px solid #000;
  height:40px;
  width:40px;
  border-radius:20px;
 
}
.circle-center {
  margin-left:45%;
  
  background-color: #c06;
  border: 3px solid #000;
  height:40px;
  width:40px;
  border-radius:20px;
 
}
.circle-one{
  margin-left:28%;
  background-color: #c06;
  border: 3px solid #000;
  height:40px;
  width:40px;
  border-radius:20px;
}
.circle-two {
  margin-left:10%;
  background-color: #c06;
  border: 3px solid #000;
  height:40px;
  width:40px;
  border-radius:20px;
}
.circle-three {
  margin-left:85%;
  background-color: #c06;
  border: 3px solid #000;
  height:40px;
  width:40px;
  border-radius:20px;
}
