body{
  overflow:hidden;
  position:relative;
}

.container {
  max-width: 1024px;
  padding-top: 30px;
  margin: auto auto;
}

// Mixin
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage
.container {
  .center-block();
}

.btn-xl {
    height: 100px;
    width: 100px;
    /*padding: 18px 28px;*/
    font-size: 22px;
    border-radius: 20px;
}

.row{
  padding-top: 30px;
  padding-bottom: 30px;
}

#wrapper {

}
.container{
  padding:10px;
}

.scale-sumo{
  height:auto;
  width:auto;
  max-width: 150px;
  max-height: 150px;
  
}




#wrapper-two { 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}


.circle {
  position: relative;
  background-color: rgba(220,20,60,0.5);
  height:70px;
  width:70px;
  border-radius:35px;
}
.circle:active{
  background-color: rgba(238,130,238,0.5);
}
.circle:hover {
  background-color: rgba(255,215,0,0.5);
}

