{{#section 'head'}}
    <style>* { padding: 0; margin: 0; }</style>
    <script src="/sumo/scripts/main.js"></script>
{{/section}}

<span class="roomid">Room ID: </span><span class="users">&emsp;&emsp;&emsp;Users: </span>
<br>
<span>y: </span><span class="yval"></span><span>&emsp;&emsp;&emsp;gamma: </span><span class="gammaval"></span><span>&emsp;&emsp;&emsp;gotUpdate: </span><span class="update"></span>