{{#section 'head'}}
    <style>* { padding: 0; margin: 0; }</style>
    <script src="/scripts/main.js"></script>
{{/section}}

<div class="container">


    <section id="join">
      <h3 class="text-center">Welcome to room</h3> 
      <h1 class="text-center"><span class="roomid"></span></h1>
      <h3 class="text-center">Users in the room:</h3> 
      <h1 class="text-center"><span class="users">&nbsp;</span></h1>
      <button class="btn btn-default btn-lg btn-primary center-block" onclick="join()">ALL PLAYERS READY</button>

    </section>

  </div>
</div>


<br>
