<div class="row">
    <h2>{{welcomeMessage}}</h2>
    <p>We are really very glad to see you today!
</div>

{{#section 'head'}}
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
<script>
alert("first!");
</script>
{{/section}}
